<div class="post_comment">
  <a class="profpic" href="/user?id={{userid}}">
	<img src={{#if img}}"{{img}}"{{else}}"/images/icons/button/button.svg" class="default"{{/if}}>
  </a>
  <div class="comment_body">
	<a class="user_attribution" href="/user?id={{userid}}">{{username}}</a>
	<span class="time">{{time}}</span>
	<p class="comment">{{comment}}</p>
  </div>
  <div class="clear"></div>
</div>