<!--Item stage setup-->
<div class="item_stage" style="display:none;" title="{{title}}">
  <a class="close_button white" style="float:right;"></a>
  <div class="wrap padded top bottom side" style="overflow:auto;">
    <div>
      <div class="header">
	    <h2 class="title"><a href="/outfit?id={{id}}">{{title}}</a></h2>
	    <span>(<a class="see_more" href="/outfit?id={{id}}">go to item page</a>)</span>
	  </div>
	  <div class="post_stats">
		<span>{{comments.length}} comments</span>
		 · <span class="num_likes">{{likes}}</span> <span class="likes white"></span>
		 · <span>{{time}}</span>
	  </div>
	  {{#if retailer}}
	  <h3>Sold by <a href="/searchfor?q={{retailer}}&searchRetailers=true&timeMin=&timeMax=&priceMin=&priceMax=&likeMin=&likeMax=&style=true&outfit=true&clothing=true&sortOptions=yourLikes&customSearch=true" class="retailer">{{retailer}}</a></h3>
	  {{/if}}
	  {{#if price}}
	  <span class="price">{{price}}</span>
	  {{/if}}
	  {{#if purchase_link}}
	  <a class="purchase_link" target="_blank" href="{{purchase_link}}">Buy</a>
	  {{/if}}
	</div>
  </div>
</div>