<div class="post" postid="{{id}}">
  <div class="post_header">
	<h2 class="title"><a href="/outfit?id={{id}}">{{title}}</a></h2>
	<div class="sub">
	  <span class="user_attribution">by <a href="/user?id={{userid}}">{{username}}</a></span>
	  <span>//</span>
	  <span class="post_stats">
		<a style="color:inherit;font-size:inherit;"href="/outfit?id={{id}}">
		  <span>
		    <span class="num_comments">{{#if comments}}{{comments.length}}{{else}}0{{/if}}</span>
		     comments
		  </span>
		</a>
		· <a style="color:inherit;font-size:inherit;"href="/outfit?id={{id}}">
		    <span class="num_likes">{{likes}}</span> <span class="likes"></span>
		  </a>
		· <a style="color:inherit;font-size:inherit;"href="/outfit?id={{id}}">
		    <span>{{time}}</span>
		  </a>
	  </span>
	</div>
  </div>
  <div class="post_stage">
	{{#each items}}
	  <a class="marker" x="{{x}}" y="{{y}}" title="{{title}}">
		{{@index}}
	  </a>
	  {{> item_stage}}
	{{/each}}
	{{#if img}}
	<a href="/outfit?id={{id}}"><img class="post_img" src="{{img}}"></a>
	{{else}}
	<div class="post_img" style="padding:40px;">
	  <img style="width:100%;" src="/images/icons/pants2/pants2.svg">
	  <img style="width:10%;float:right;" src="/images/icons/close/close.svg">
	  <div class="clear"></div>
	  <h2 style="text-align:center">NO IMAGE</h2>
	</div>
	{{/if}}
  </div>
  {{#if caption}}
  <div class="post_caption">
	<p>{{caption}}</p>
  </div>
  {{/if}}
  {{#if price}}
  <div class="post_caption">
	<p>Price: {{price}}</p>
  </div>
  {{/if}}
  {{#if purchase_link}}
  <div class="post_caption">
	<p><a href="{{purchase_link}}" target="_blank">Buy</a></p>
  </div>
  {{/if}}
  {{#if tags}}
  <div class="post_tags">
	<span style="font-weight: bold;">TAGS</span>
	{{#each tags}}
	<span class="tag"><a href="/search?q={{tag}}">{{tag}}</a></span>
	{{/each}}
  </div>
  {{/if}}
  <div class="post_interact">
	<span class="comment_show_button" postid="{{id}}"></span>
	<span postid="{{id}}" {{#if liked_post}}status="liked"{{/if}} class="like_button"></span>
	<div class="clear"></div>
	<div class="comment_on_post" postid="{{id}}" style="padding:0 8px 8px 8px;display:none;">
	  <div style="margin-bottom:4px;">
	    <a href="/outfit?id={{id}}">View comments ({{comments.length}})</a>
	  </div>
	  <textarea placeholder="ADD COMMENT..." postid="{{id}}" class="comment_box"></textarea>
	  <div postid="{{id}}" class="button comment_button" style="float:right;margin-bottom:4px;">
	    <a postid="{{id}}" href="#">comment</a>
	  </div>
	  <div class="clear"></div>
	</div>
  </div>
</div>