<h4 style="margin-top:11px;margin-bottom:11px;text-align:center;"><a class="search_options_button" href="#">Search options</a></h4>
<div class="search_options separate_header" style="{{#unless show_options}}display:none;{{/unless}}">
  
  <div>
  <label>Content Searched:</label> <br>
  <input type="checkbox" value="true" name="searchTags" {{#if searchTags}}checked{{/if}}> Tags
  <input type="checkbox" value="true" name="searchTitle" {{#if searchTitle}}checked{{/if}}> Titles
  <input type="checkbox" value="true" name="searchRetailers" {{#if searchRetailers}}checked{{/if}}> Retailers
  <input type="checkbox" value="true" name="searchUsers" {{#if searchUsers}}checked{{/if}}> Profiles
  </div>

  <br>

  <div>
  <label>Only Search Posts With:</label> <br>
  <input type="checkbox" value="true" name="link" {{#if link}}checked{{/if}}> Purchase Links
  <input type="checkbox" value="true" name="photo" {{#if photo}}checked{{/if}}> Photos
  <input type="checkbox" value="true" name="onlyFollows" {{#if onlyFollows}}checked{{/if}}> Followed Profiles
  </div>

  <br>
  <label>Limit:</label> <br>
  <div align="right">
    Dates from <input name="timeMin" type="date" value="{{#if timeMin}}{{timeMin}}{{/if}}"><br>
    to <input name="timeMax" type="date" value="{{#if timeMax}}{{timeMax}}{{/if}}">
  </div>
  <div align="right">
    Price from $<input name="priceMin" type="number" value="{{#if priceMin}}{{priceMin}}{{/if}}"><br>
    to $<input name="priceMax" type="number" value="{{#if priceMax}}{{priceMax}}{{/if}}"> 
  </div>
  <div align="right">
    Popularity from <input name="likeMin" type="number" value="{{#if likeMin}}{{likeMin}}{{/if}}"> likes<br>
    to <input name="likeMax" type="number" value="{{#if likeMax}}{{likeMax}}{{/if}}"> likes
  </div>

  <br>
  
  <div>
  <label>Show These Types of Posts:</label> <br>
  <input type="checkbox" value="true" name="style" {{#if style}}checked{{/if}}> Styles
  <input type="checkbox" value="true" name="outfit" {{#if outfit}}checked{{/if}}> Outfits  
  <input type="checkbox" value="true" name="clothing" {{#if clothing}}checked{{/if}}> Items
  </div>

  <br>

  <label>Sort by:</label>
  <select name = "sortOptions">    
    <option value="mostRecent" {{#if mostRecent}}selected{{/if}}>Most Recent</option>
    <option value="mostPopular" {{#if mostPopular}}selected{{/if}}>Most Popular</option>
    <option value="mostExpensive" {{#if mostExpensive}}selected{{/if}}>Most Expensive</option>  
    <option value="leastRecent" {{#if leastRecent}}selected{{/if}}>Least Recent</option>
    <option value="leastPopular" {{#if leastPopular}}selected{{/if}}>Least Popular</option>
    <option value="leastExpensive" {{#if leastExpensive}}selected{{/if}}>Least Expensive</option>
  </select>

</div>