<!doctype html>
<html>
  <head>
    <title>clodiem</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/global.css">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
  </head>
  <body>
    <div class="wrap padded top side bottom">
      <form action="upload.htm" method="post" enctype="multipart/form-data">
		<div class="createpost_stepwrap 1" style="display: none">
		  <h1>Create a post</h1>
		</div>
		<div class="createpost_stepwrap 2" style="display:none;">
		  <!--input for picture-->
		  <input class="img_upload" style="display:none;" type="file" accept="image/*" capture>
		  
		  <a class="title upper">
			<img src="/images/icons/camera/camera.svg" style="float:right;width:23px;">
			Upload a photo
		  </a>
		  
		  <div style="width:100%;" class="photo_stage">
		    <img src="#" class="stage_image" style="display:none;width:100%;">
		  </div>
		  <a class="img_upload" href="#" style="
			display:block;
			width:100%;
			text-align:center;
		  ">
			<div class="title lower button">
			  <span style="color:white;" class="img_upload" href="#">
				<div style="max-width:24%;float:left;">
				  <img style="width:84%;"src="/images/icons/plus/whiteplus.svg">
				</div>
				<div style="float:left;text-align:left;width:70%;padding-left:11px;">Upload main photo</div>
			  </span>
			  <div class="clear"></div>
			</div>
		  </a>
		  <p class="description">Upload the main photo for the post here. It's what 
		  your followers will see on their aisles.</p>
		</div>
		<div class="createpost_stepwrap 3" style="display:none;">
		  <a class="title upper">
			<img src="/images/icons/shirt/shirt.svg" style="float:right;width:23px;">
			Mark items
		  </a>
		  <div>
			<a class="createpost_additem">
			  <div class="createpost_additeminner">
				<img src="/images/icons/plus/whiteplus.svg" style="width:100%;">
			  </div>
			</a>
		  </div>
		  <p class="description">Mark the items in your post here. You can mark multiple
		  items if you want. Marking items lets you share some useful info about 
		  the stuff you're wearing, like where your followers can buy it.</p>
		</div>
		<div class="createpost_stepwrap 4" style="display:none;">
		  <a class="title upper">
			<img src="/images/icons/binoculars/binoculars.svg" style="float:right;width:23px;">
			Find this item
		  </a>
		  <div class="marker_field" style="width:100%;">
			<img class="marker_field_img" src="#" style="width:100%">
		  </div>
		  <p class="description">Where in the post photo is the item you're marking? 
		  Click on it.</p>
		  
		  <div class="getiteminfo" style="display:none">
		    
		    <a class="title upper">
			  <img src="/images/icons/pencil/pencil.svg" style="float:right;width:23px;">
			  Describe this item
		    </a>
		    <p class="description" style="margin-top:0;margin-bottom:8px;">Give it a name and fill in whatever else you'd like.</p>
			<div>
			  <input class="padded" placeholder="Item title" type="text" name="title">
			</div>
			<div>
			  <input class="padded" placeholder="Retailer" type="text" name="retailer">
			</div>
			<div>
			  <input class="padded" placeholder="Link to purchase" type="text" name="purchase_link">
			</div>
			<div>
			  <select style="width:28%;float:left;">
				<option name="$">$</option>
				<option name="£">£</option>
				<option name="€">€</option>
				<option name="JP¥">¥ (日本)</option>
				<option name="CN¥">¥ (中国)</option>
			  </select>
			  <input class="padded" style="width:68%;float:right;" type="text" placeholder="Price" name="price">
			  <div class="clear"></div>
			  <textarea class="tagbox" style="width:100%;" placeholder="ADD TAGS (comma separated)..."></textarea>
			</div>
		    <div class="uploaditem button" style="margin-top:8px;width:100%;">
		      <a href="#">All done!</a>
		    </div>
		  </div>
		  
		  <div class="placed button" style="margin-top:8px;width:100%;display:none;">
		    <a href="#">Got it!</a>
		  </div>
		</div>
		<div class="createpost_stepwrap" style="display:none;">
		  <!--This should send the focus to the textarea-->
		  <a class="title upper">
			<img src="/images/icons/tags/tags.svg" style="float:right;width:23px;">
			Add tags
		  </a>
		  <textarea class="tagbox" style="width:100%;" placeholder="ADD TAGS..."></textarea>
		  <p class="description">Add tags to your post here, separated by commas. 
		  Specifying appropriate tags will help other users discover the things 
		  you post.</p>
		</div>
		
		<div class="big button" style="display:none;">
		  <img src="/images/icons/hanger/whitehanger.svg" style="width:23px;">
		  <a style="margin-right:34px;" href="#">POST</a>
		</div>
      </form>
    </div>
    
  </body>
  <script src="/js/jquery-1.11.0.js"></script>
  <script src="/js/renderposts.js"></script>
  <script src="/js/rendermenu.js"></script>
  <script src="/js/rendersearchbar.js"></script>
  <script src="/js/rendertopbar.js"></script>
  <script src="/js/splitbackground.js"></script>
  <script src="/js/likebuttons.js"></script>
  <script src="/js/comments.js"></script>
  <script src="/js/renderprofile.js"></script>
  <script src="/js/follow.js"></script>
  <script src="/js/createpost.js"></script>
  <script>
	function setSizes() {
	  rendertopbar();
	  renderposts();
	  buildmenu(
		  {{#if logged_in_user}}
			true, '{{logged_in_user.username}}', '{{logged_in_user.img}}'
		  {{else}}
			false
		  {{/if}}
		);
	  rendercomments(
		  {{#if logged_in_user}}
			true,
			'{{logged_in_user.username}}',
			'{{logged_in_user.img}}'
		  {{else}}
			false
		  {{/if}}
	  );
	}
	$(window).resize(function() {
	  setSizes();
	});
	$(document).ready(function() {
	  setSizes();
	  activatelikebuttons({{#if logged_in_user}}true{{else}}false{{/if}});
	  activatefollowbuttons(
		{{#if logged_in_user}}
		true, '{{logged_in_user.id}}'
		{{else}}
		false
		{{/if}} 
	  );
	  
	  createpost_start('{{logged_in_user.id}}');
	});
	$(window).load(function() {
	  setSizes();
	});
  </script>
  <!--
  <script src="/js/jquery-1.11.0.js"></script>
  <script src="/js/rendermenu.js"></script>
  <script src="/js/rendersearchbar.js"></script>
  <script src="/js/rendertopbar.js"></script>
  <script src="/js/splitbackground.js"></script>
  <script src="/js/createpost.js"></script>
  <script>
	function setSizes() {
	  rendertopbar(true);
	  buildmenu('{{username}}');
	}
	$(window).resize(function() {
	  setSizes();
	});
	$(document).ready(function() {
	  setSizes();
	});
	$(window).load(function() {
	  setSizes();
	});
  </script>-->
  
</html>