<!doctype html>
<html>
  <head>
    <title>clodiem</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/global.css">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
  </head>
  
  <body>
    <div class="content">
      <div style="background:white;" class="top bottom side padded wrap">
        <img class="spinning" style="float:right;width:23px;height:23px;" src="/images/icons/gear/gear.svg">
        <h2 style="margin-bottom:11px;">Account settings</h2>
		<form class="settings_form">
		  <div>
			<input value="{{logged_in_user.location}}" class="padded" type="text" name="location" placeholder="Location">
		  </div>
		  <div>
			<textarea name="description" placeholder="Tell us a bit about yourself...">{{logged_in_user.description}}</textarea>
		  </div>
		  <div>
			<input value="{{logged_in_user.img}}" class="padded" type="text" name="img" placeholder="Profile picture (URL)">
		  </div>
		  <div>
			<input class="padded" type="password" placeholder="Password">
		  </div>
		  <div>
			<input class="padded" type="password" placeholder="Verify password">
		  </div>
		  <div class="change_settings button" style="margin-top:8px;width:100%;"><a href="#">Update account</a></div>
		</form>
      </div>
    <!--
	  <div class="posts">
	  {{#each posts}}
		{{> post}}
	  {{/each}}
	  </div>
	  -->
    </div>
    
    <script src="/js/jquery-1.11.0.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/renderposts.js"></script>
    <script src="/js/rendertopbar.js"></script>
    <script src="/js/rendersearchbar.js"></script>
    <script src="/js/splitbackground.js"></script>
    <script src="/js/rendermenu.js"></script>
    <script src="/js/likebuttons.js"></script>
    <script src="/js/comments.js"></script>
    <script src="/js/settings.js"></script>
    <script>
      function setSizes() {
        rendertopbar(true);
        renderposts();
        buildmenu(
          {{#if logged_in_user}}
            true, '{{logged_in_user.id}}', '{{logged_in_user.img}}'
          {{else}}
            false
          {{/if}}
        );
        rendercomments(
          {{#if logged_in_user}}
            true,
            '{{logged_in_user.username}}',
            '{{logged_in_user.img}}'
          {{else}}
            false
          {{/if}}
        );
        {{#if logged_in_user}}
        settings_setup('{{logged_in_user.id}}');
        {{/if}}
      }
      $(window).resize(function() {
         setSizes();
       });
      $(document).ready(function() {
        setSizes();
        activatelikebuttons({{#if logged_in_user}}true{{else}}false{{/if}});
      });
      $(window).load(function() {
        setSizes();
      });
    </script>
  </body>

</html>