<!doctype html>
<html>
  <head>
    {{> head}}
  </head>
  
  <body>
    <div class="content">
      <div style="background:white;" class="top bottom side padded wrap">
        <h2 style="margin-bottom:11px;">My account</h2>
        
        <div>
          <img class="corner_icon" style="float:right;" src="/images/icons/user/user.svg">
          <h3 style="margin-top:19px;margin-bottom:11px;margin-left:4px;">
            <a style="color:inherit;" href="/user?id={{logged_in_user.id}}">My profile</a>
          </h3>
        </div>
        <div style="margin-bottom: 11px;padding: 11px;border: dotted 1px rgba(0,0,0,0.15);margin-top: 8px;box-shadow: 0 0 4px rgba(0,0,0,0.04);">
          <div style="margin-bottom:4px;font-size:medium;float:left;">
            <a href="/user?id={{logged_in_user.id}}">Go to my profile</a>
          </div>
          <div style="margin-bottom:4px;font-size:medium;float:right;text-align:right;">
            <a style="color:#d55353;" href="/logoutuser?id={{logged_in_user.id}}">Log out</a>
          </div>
          <div class="clear"></div>
          <a href="/styles">
            <div style="margin-bottom:4px;font-size:medium;float:left;">Styles</div>
            <div style="margin-bottom:4px;font-size:medium;float:right;">{{logged_in_user.style_ids.length}}</div>
          </a>
          <div class="clear"></div>
          <a href="/posts">
			<div style="margin-bottom:4px;font-size:medium;float:left;">Posts</div>
			<div style="margin-bottom:4px;font-size:medium;float:right;">{{logged_in_user.post_ids.length}}</div>
		  </a>
          <div class="clear"></div>
          <a href="/likedposts">
			<div style="margin-bottom:4px;font-size:medium;float:left;">Likes</div>
			<div style="margin-bottom:4px;font-size:medium;float:right;">{{logged_in_user.liked_post_ids.length}}</div>
		  </a>
		  <div class="clear"></div>
		  <a href="/following">
			<div style="margin-bottom:4px;font-size:medium;float:left;">Following</div>
			<div style="margin-bottom:4px;font-size:medium;float:right;">{{logged_in_user.following_ids.length}}</div>
		  </a>
		  <div class="clear"></div>
		  <a href="/followers">
			<div style="margin-bottom:4px;font-size:medium;float:left;">Followers</div>
			<div style="margin-bottom:4px;font-size:medium;float:right;">{{logged_in_user.followers_ids.length}}</div>
          </a>
          <div class="clear"></div>
        </div>
        
        <div>
          <img class="spinning corner_icon" style="float:right;" src="/images/icons/gear/gear.svg">
          <h3 style="margin-top:19px;margin-bottom:19px;margin-left:4px;">Account settings</h3>
        </div>
		<form class="settings_form" method="post" action="/setuser" enctype="multipart/form-data">
		  <input style="display:none;" type="text" value="{{logged_in_user.id}}" name="userid">
		  <div>
			<input value="{{logged_in_user.location}}" class="padded" type="text" name="location" placeholder="Location">
		  </div>
		  <div>
			<textarea name="description" placeholder="Tell us a bit about yourself...">{{logged_in_user.description}}</textarea>
		  </div>
		  
		  <div style="position:relative;margin-bottom:8px;padding:4px 0px;border-bottom:solid 1px rgba(0,0,0,0.15);">
			<!--input for profile picture-->
			<input class="img_upload" name="img" style="display:none;" type="file" accept="image/*" capture>
			<div class="profpic" style="border-radius:80px;padding-bottom:4px;float:left;width:44%;">
			  <img src="{{#if logged_in_user.img}}{{logged_in_user.img}}{{else}}/images/icons/button/button.svg{{/if}}">
			</div>
			<div class="change_profile_picture follow_button button" style="width:50%;position:absolute;bottom:8px;right:0px;">
			  <a class="img_upload" href="#">Change your profile picture</a>
			</div>
			<div class="clear"></div>
		  </div>
		  
		  <!--
		  <div style="text-align:center;">
		    <div style="display:inline-block;margin-right:8px;">
		      <input style="width:auto;display:inline-block;" checked type="radio" name="img_from" value="file"> From phone
		    </div>
		    <div style="display:inline-block;">
		      <input style="width:auto;display:inline-block;" type="radio" name="img_from" value="url"> From url
		    </div>
		  </div>
		  -->
		  <div>
			<input class="padded" type="password" placeholder="Password">
		  </div>
		  <div>
			<input class="padded" type="password" placeholder="Verify password">
		  </div>
		  <div class="change_settings button" style="margin-top:8px;width:100%;"><a href="#">Update account</a></div>
		</form>
      </div>
    <!--
	  <div class="posts">
	  {{#each posts}}
		{{> post}}
	  {{/each}}
	  </div>
	  -->
    </div>
    
    {{> tutorial}}
    
    <script src="/js/jquery-1.11.0.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/renderposts.js"></script>
    <script src="/js/rendertopbar.js"></script>
    <script src="/js/rendersearchbar.js"></script>
    <script src="/js/splitbackground.js"></script>
    <script src="/js/rendermenu.js"></script>
    <script src="/js/likebuttons.js"></script>
    <script src="/js/comments.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/tutorial.js"></script>
    <script>
      function setSizes() {
        rendertopbar(true);
        renderbottombar(true, 3{{#if logged_in_user}},'{{logged_in_user.id}}'{{/if}});
        renderposts({{#if logged_in_user}}'{{logged_in_user.id}}'{{/if}});
        buildmenu(
          {{#if logged_in_user}}
            true, '{{logged_in_user.id}}', '{{logged_in_user.img}}'
          {{else}}
            false
          {{/if}}
        );
        rendercomments(
          {{#if logged_in_user}}
            true,
            '{{logged_in_user.username}}',
            '{{logged_in_user.img}}'
          {{else}}
            false
          {{/if}}
        );
        {{#if logged_in_user}}
        settings_setup('{{logged_in_user.id}}');
        {{/if}}
        
        tutorial_setup();
        setlinks();  // call this last!
      }
      $(window).resize(function() {
         setSizes();
       });
      $(document).ready(function() {
        setSizes();
        activatelikebuttons({{#if logged_in_user}}'{{logged_in_user.id}}'{{/if}});
      });
      $(window).load(function() {
        setSizes();
      });
    </script>
    {{> universalscripts}}
  </body>

</html>