<!doctype html>
<html>
  <head>
    {{> head}}
  </head>
  
  <body>
    <div class="content">
      <div style="background:white;" class="top bottom side padded wrap">
        <h2 style="margin-bottom:11px;">My account</h2>
        
        <div>
          <img class="corner_icon" style="float:right;" src="/images/icons/user/user.svg">
          <h3>
            <a style="color:inherit;" href="/user?id={{logged_in_user.id}}">My profile</a>
          </h3>
        </div>
        <div style="margin-bottom: 11px;padding: 11px;border: dotted 1px rgba(0,0,0,0.15);margin-top: 8px;box-shadow: 0 0 4px rgba(0,0,0,0.04);">
          <div style="margin-bottom:4px;font-size:medium;float:left;">
            <a href="/user?id={{logged_in_user.id}}">Go to my profile</a>
          </div>
          <div style="margin-bottom:4px;font-size:medium;float:right;text-align:right;">
            <a style="color:#d55353;" href="/logoutuser?id={{logged_in_user.id}}">Log out</a>
          </div>
          <div class="clear"></div>
          <div style="margin-bottom:4px;font-size:medium;float:left;">Styles</div>
          <div style="margin-bottom:4px;font-size:medium;float:right;">{{logged_in_user.styles.length}}</div>
          <div class="clear"></div>
          <div style="margin-bottom:4px;font-size:medium;float:left;">Posts</div>
          <div style="margin-bottom:4px;font-size:medium;float:right;">{{logged_in_user.posts.length}}</div>
          <div class="clear"></div>
          <div style="margin-bottom:4px;font-size:medium;float:left;">Likes</div>
          <div style="margin-bottom:4px;font-size:medium;float:right;">{{logged_in_user.liked_post_ids.length}}</div>
          <div class="clear"></div>
          <div style="margin-bottom:4px;font-size:medium;float:left;">Following</div>
          <div style="margin-bottom:4px;font-size:medium;float:right;">{{logged_in_user.following.length}}</div>
          <div class="clear"></div>
          <div style="margin-bottom:4px;font-size:medium;float:left;">Followers</div>
          <div style="margin-bottom:4px;font-size:medium;float:right;">{{logged_in_user.followers.length}}</div>
          <div class="clear"></div>
        </div>
        <div>
          <img class="spinning corner_icon" style="float:right;" src="/images/icons/gear/gear.svg">
          <h3 style="margin-bottom:11px;">Account settings</h3>
        </div>
		<form class="settings_form">
		  <div>
			<input value="{{logged_in_user.location}}" class="padded" type="text" name="location" placeholder="Location">
		  </div>
		  <div>
			<textarea name="description" placeholder="Tell us a bit about yourself...">{{logged_in_user.description}}</textarea>
		  </div>
		  <div>
			<input value="{{logged_in_user.img}}" class="padded" type="text" name="img" placeholder="Profile picture (URL)">
		  </div>
		  <div>
			<input class="padded" type="password" placeholder="Password">
		  </div>
		  <div>
			<input class="padded" type="password" placeholder="Verify password">
		  </div>
		  <div class="change_settings button" style="margin-top:8px;width:100%;"><a href="#">Update account</a></div>
		</form>
      </div>
    <!--
	  <div class="posts">
	  {{#each posts}}
		{{> post}}
	  {{/each}}
	  </div>
	  -->
    </div>
    
    <script src="/js/jquery-1.11.0.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/renderposts.js"></script>
    <script src="/js/rendertopbar.js"></script>
    <script src="/js/rendersearchbar.js"></script>
    <script src="/js/splitbackground.js"></script>
    <script src="/js/rendermenu.js"></script>
    <script src="/js/likebuttons.js"></script>
    <script src="/js/comments.js"></script>
    <script src="/js/settings.js"></script>
    <script>
      function setSizes() {
        rendertopbar(true);
        renderbottombar(true, 3, {{#if logged_in_user}}'{{logged_in_user.id}}'{{/if}});
        renderposts({{#if logged_in_user}}'{{logged_in_user.id}}'{{/if}});
        buildmenu(
          {{#if logged_in_user}}
            true, '{{logged_in_user.id}}', '{{logged_in_user.img}}'
          {{else}}
            false
          {{/if}}
        );
        rendercomments(
          {{#if logged_in_user}}
            true,
            '{{logged_in_user.username}}',
            '{{logged_in_user.img}}'
          {{else}}
            false
          {{/if}}
        );
        {{#if logged_in_user}}
        settings_setup('{{logged_in_user.id}}');
        {{/if}}
      }
      $(window).resize(function() {
         setSizes();
       });
      $(document).ready(function() {
        setSizes();
        activatelikebuttons({{#if logged_in_user}}'{{logged_in_user.id}}'{{/if}});
      });
      $(window).load(function() {
        setSizes();
      });
    </script>
    {{> universalscripts}}
  </body>

</html>